.in{
	border-style: none;
	width: 110px;
	height: 25px;
	background-color: #D8D8D8;
	padding: 0px 5px;
	box-shadow: black 0px 0px 5px inset;
    -webkit-box-shadow: black 0px 0px 5px inset;
    -moz-box-shadow: black 0px 0px 5px inset;
    color: black;
}
.entrar{
	border-style: none;
	width: 224px;
	height: 25px;
	margin-top: 5px;
	background: black;
	color: white;
}
.entrar:hover{
	background-color: #D8D8D8;
	color: black;
}
#sesion form a{
	text-decoration: none;
}